.Notification {
  .notice {
    background-color: gray;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: black;
    color: #fff;
    text-align: center;
    height: 100%;
  }
}

