.top-bar
  .head-bar__logo
    FAVO
.main-contents
  .youtube
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "400", :src => "https://www.youtube.com/embed/jSysx4f9waw", :width => "700"}
    .comments
  .details
    .details__top-items
      .name
        Men's Tree Dashers
      .price
        ¥16,250
    .image
      = image_tag 'TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.jpg', class:'item-image'
    .buy
      FAVO!!
.comment-form